
// Change the grid settings
$column: 90px;
$gutter: 20px;
$grid-columns: 12;
$max-width: em(1070);
$layout-direction: ltr;
$default-feature: max-width;

// Define your breakpoints
@include gridle_setup((
  context: $grid-columns,
  gutter-width: $gutter,
  direction: $layout-direction,
));

@include gridle_register_state (mobile, (
  max-width: 460px 
));
@include gridle_register_state (mobile-alt, (
  min-width: 320px,
  max-width: 742px,
));
@include gridle_register_state (tablet, (
  min-width: 742px,
  max-width: 1024px
));