/* ============================================ *
 * Variables
 * ============================================ */
@import "mixins"; // Custom mixins, functions, etc

// Sizes
$max-width: 960px;
$desktop: 960px;
$tablet: 767px;
$mobile: 479px;

// Colors
$c-gray: #696969;
