// -------------------------------------
// ★ Variables
// -------------------------------------
@import "mixins"; // Custom mixins, functions, etc

// Sizes
$max-width: em(960);
$desktop: em(960);
$tablet: em(767);
$mobile: em(479);

// Colors
$colorMain: #696969;
