/* ============================================ *
 * Layout
 * ============================================ */

.site-inner {
  position: relative;
  width: $max-width;
  margin-left: auto;
  margin-right: auto;
}
